.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  background-color: #fabcad;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}

.Heading {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-icon {
  position: absolute;
  left: 40px;
  font-size: 26px;
  color: #000000;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu-icon:hover {
  transform: scale(1.1);
}

.search-icon {
  position: absolute;
  right: 40px;
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.search-icon:hover {
  transform: scale(1.1);
}

.search-bar {
  position: fixed;
  top: 110px;
  right: 20px;
  width: 300px;
  padding: 0px 20px 0px 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 1001;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  flex: 1;
  padding: 8px 12px;
  border: 2px solid #E5989B;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.search-bar .close-icon {
  color: #E5989B;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s;
  padding-top: 25px;
}

.search-bar .close-icon:hover {
  transform: scale(1.2);
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px; /* hidden by default */
  width: 250px;
  height: 100vh;
  background-color: #FFB4A2;
  padding: 30px 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 1100;
}

.sidebar.open {
  left: 0;
}

.close-icon {
  font-size: 22px;
  color: #000000;
  cursor: pointer;
  margin-bottom: 30px;
}

.menu-items {
  list-style: none;
  padding: 0;
}

.menu-items li {
  padding: 12px 0;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  transition: color 0.2s;
}

.menu-items li:hover {
  color: #6a1b1b;
}
